{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app. Trello Version</p>
</div>

<div class="container">

    <div class="row">
        <div class="col">
            <h2>Add a New To-Do</h2>
            <form class="form-inline" action="/add" method="post">
                <div class="form-group ml-2">
                    <input required type="text" class="form-control" name="title" placeholder="My New To-Do">
                </div>
                <button type="submit" class="btn btn-primary ml-2">Add</button>
            </form>
        </div>
        <div class="col" style="text-align: right; ">
                {% if not view_model.show_all_done_items %}
                <form action="/show_older" method="post">
                    <input hidden name="id" value="true">
                    <button type="submit" class="btn btn-secondary" title="Show Older">Show Older Completed Items</button>
                </form>
                {% else %}
                <form action="/show_older" method="post">
                    <input hidden name="id" value="false">
                    <button type="submit" class="btn btn-secondary" title="Hide Older">Hide Older Completed Items</button>
                </form>
                {% endif %}
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-sm">

            <table class="table">
                <thead>
                    <th colspan="4">To-Do</th>
                </thead>
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 70%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <tbody>
                    {% for card in view_model.to_do_items %}
                    <tr id={{"todo_row_{0}".format(card.description)}}>
                        <td>
                            <form action="/delete" method="post">
                                <input hidden name="id" value={{ card.card_id }}>
                                <button type="submit" id={{"todo_delete_{0}".format(card.description)}} class="btn" title="Delete">❌</button>
                            </form>
                        </td>
                        <td>
                            {{card.description}} 
                        </td>
                        <td>
                            <form action="/start" method="post">
                                <input hidden name="id" value={{ card.card_id }}>
                                <button type="submit" class="btn"  id={{"todo_to_in_progress_{0}".format(card.description)}} title="Move to In Progress">➡</button>
                            </form>
                        </td>
                        <td>
                            <form action="/complete" method="post">
                                <input hidden name="id" value={{ card.card_id }}>
                                <button type="submit" class="btn" id={{"todo_to_complete_{0}".format(card.description)}} title="Move to Complete">✅</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor%}

                </tbody>
            </table>
        </div>
        <div class="col-sm border-left">
            <table class="table">

                <thead>
                    <th colspan="4">In Progress</th>
                </thead>
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 70%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <tbody>
                    {% for card in view_model.in_progress_items %}
                    <tr id={{"doing_row_{0}".format(card.description)}}>
                        <td>
                            <form action="/delete" method="post">
                                <input hidden name="id" value={{ card.card_id }}>
                                <button type="submit" class="btn" id={{"doing_delete_{0}".format(card.description)}} title="Delete">❌</button>
                            </form>
                        </td>
                        <td>
                            {{card.description}}
                        </td>
                        <td>
                            <form action="/reset" method="post">
                                <input hidden name="id" value={{ card.card_id }}>
                                <button type="submit" class="btn" id={{"doing_to_todo_{0}".format(card.description)}} title="Move to To-do">⬅️</button>
                            </form>
                        </td>
                        <td>
                            <form action="/complete" method="post">
                                <input hidden name="id" value={{ card.card_id }}>
                                <button type="submit" class="btn" id={{"doing_to_complete_{0}".format(card.description)}} title="Move to Complete">✅</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor%}

                </tbody>
            </table>
        </div>
        <div class="col-sm border-left">
                <table class="table">
                    <thead>
                        <th colspan="4">Completed</th>
                    </thead>
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 70%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                    </colgroup>
                    <tbody>
                        {% for card in (view_model.complete_items if view_model.show_all_done_items else view_model.recently_done_items) %}
                        <tr id={{"done_row_{0}".format(card.description)}}>
                            <td>
                                <form action="/delete" method="post">
                                    <input hidden name="id" value={{ card.card_id }}>
                                    <button type="submit" class="btn" id={{"done_delete_{0}".format(card.description)}} title="Delete">❌</button>
                                </form>
                            </td>
                            <td>
                                {{card.description}}
                            </td>
                            <td>
                                <form action="/reset" method="post">
                                    <input hidden name="id" value={{ card.card_id }}>
                                    <button type="submit" class="btn" id={{"done_to_todo_{0}".format(card.description)}} title="Move to To-do">⬅️⬅️</button>
                                </form>
                            </td>
                            <td>
                                <form action="/start" method="post">
                                    <input hidden name="id" value={{ card.card_id }}>
                                    <button type="submit" class="btn" id={{"done_to_in_progress_{0}".format(card.description)}} title="Move to In Progress">⬅️</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}